.beer-card {
  height:300px;
  width:750px;
  display: flex;
  margin: 20px 0;
  box-shadow: 2px 2px 10px black;
  background-color: #333;
}

.beers {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img-container{
  width: 30%;
  background-color: #38F
}

.beer-img {
  height:100%;
}

.info-container {
  width: 75%;
  padding:  31px, 0;
}

.info-container h1, h2, h3{
  font-size: 1em;
  margin-block-start: 0;
  margin-block-end: 0;
}

.description {
  display: block;
  height:75%;
  overflow: scroll;
}

.like-beer {
  width: 100px;
  height: 100%;
  transition: 200ms;
  background-color: rgba(255, 255, 255, .1)
}

.like-beer:hover{
  background-color: rgba(255, 255, 255, .4);
  cursor: pointer;
}

.like-beer.liked {
  background-color: rgba(173, 255, 47, .5)
}

.beer-stats {
  justify-content: center;
  align-items:center;
  display: flex;
  padding: 0 20px;
}

.stat {
  margin: 0 20px;
}

.delay-300ms{
  animation-delay: 100ms;
}
.delay-600ms{
  animation-delay: 600ms;
}
.delay-900ms{
  animation-delay: 900ms;
}
.delay-1200ms{
  animation-delay: 1200ms;
}
.delay-1500ms{
  animation-delay: 1500ms;
}
.delay-1800ms{
  animation-delay: 1800ms;
}
.delay-2100ms{
  animation-delay: 2100ms;
}
.delay-2400ms{
  animation-delay: 2400ms;
}
.delay-2700ms{
  animation-delay: 2700ms;
}
.delay-3000ms{
  animation-delay: 3000ms;
}

