.liked-beers{
  background-color: rgba(65, 125, 105, 1);
  position: fixed;
  height: 160px;
  width: 240px;
  top: 10px;
  right: 0px;
  z-index: 1;
  box-shadow: 0px 2px 15px #222;
  border-radius: 10px;
}

.beer-list {
  display: none;
}